@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white;
}

@font-face {
  font-family: 'calibribold_italic';
  src: url('../public/fonts/calibri_bold_italic-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_bold_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calibribold';
  src: url('../public/fonts/calibri_bold-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calibriitalic';
  src: url('../public/fonts/calibri_italic-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calibrilight_italic';
  src: url('../public/fonts/calibri_light_italic-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_light_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calibrilight';
  src: url('../public/fonts/calibri_light-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'calibriregular';
  src: url('../public/fonts/calibri_regular-webfont.woff2') format('woff2'),
       url('../public/fonts/calibri_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
